@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body{
    background: #FBFAFF;
}

  

.container-header{
    background: #7C3AED;
}

.vertigo-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px;
}

.fa-bars{
    cursor: pointer;
    font-size: 2em;
    color: #fff;
}



ul{
    display: none;
    color: white;
    list-style-type: none;
    margin-left: 5px;
}

ul li{
    margin: 10px;
    font-size: 1.1em;
}

ul li:hover{
    color: #ebebeb;
}

div#icons{
    display: flex;
    gap: 5px;
}

div#icons img{
    color: white;

}

div#icons img:hover{
    color: #ebebeb;
}



h1#nome{
    text-align: center;
}

img#editar{
    position: absolute;
    transform: translate(390%, 5%);
}

.vertigo-titles{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 15px;
    padding: 15px;
}

.fa-xmark{
    font-size: 3em;
    color: #fff;
}
.profile{
    display: flex;
    justify-content: center;
    padding:10px 0px;
}

.pesquisar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pesquisar input{
    padding: 12px;
    position: relative;
    transform: translate(-16%, -3%);
    width: 70vw;
    border-radius: 10px;
    border: 2px solid #e2e8f0;
}

.pesquisar input:focus{
    outline: 0;
    border: 2px solid #7C3AED;
}

.pesquisar button{
    background: #7C3AED;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 12px;
}

.pesquisar button:hover{
    background: #8a46ff;
}

.pesquisar button p{
    text-align: center;
}

.container-fazer{
    max-width: 360px;
    margin: 0 auto;
}

.container-fazendo{
    max-width: 360px;
    margin: 0 auto;
}

.container-feito{
    max-width: 360px;
    margin: 0 auto;
}

.container-fazer h2{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.container-fazendo h2{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.container-feito h2{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.container_bloco{
    background:#FBFAFF;
}

div#bloco{
    padding: 20px;
    background-color: white;
    margin: 15px;
    -webkit-box-shadow: 4px 4px 17px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 4px 4px 17px -1px rgba(0,0,0,0.35);
    box-shadow: 4px 4px 17px -1px rgba(0,0,0,0.35);
    border-radius: 8px;
}

.sub-titles{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.sub-titles p{
    background: #E2D6FF;
    color: #7C3AED;
    padding: 5px 10px;
    border-radius: 5px;
}

.sub-titles-solo{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.sub-titles-solo{
    background: #E2D6FF;
    color: #7C3AED;
    padding: 5px;
    border-radius: 5px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 30px;
    background: rgb(48, 48, 48);
    margin-top: 50px;

}

footer p{
    color: white;
    font-size: 1.1em;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: #7C3AED;
}

@media screen and (min-width: 1280px) {
    body{
        overflow-x: hidden;
    }
    .fa-bars{
        display: none;
    }

    .container-header{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 15%;
        overflow-y: auto;
        height: 106.1vh;
    }

    .container_bloco{
        display: flex;
        margin-left: 190px;
        max-width: 1090px;
        margin: 0 auto;
    }

    h2#titulo{
        padding: 0;
        text-align: left;
        margin-left: 35px;
        padding-top: 35px;
    }

    .container_first{
        max-width: 1090px;
        margin-left: 190px;
        padding: 50px 0px;
    }

    .vertigo-cabecalho{
        display: flex;
        justify-content: left;
        margin-left: 50px;
    }

    .vertigo-titles{
        display: flex;
        justify-content: space-between;
    }
    
    .vertigo-titles h1{
        font-size: 2em;
        margin-left: 30px;
    }

    img#editar{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(1000%, 90%);
    }

    ul{
        display: flex;
        flex-direction: column;
        margin-left: 34px;
        margin-top: 40px;
    }

    ul li{
        margin: 0;
        margin-top: 13px;
        cursor: pointer;
    }

    div#icons img{
        margin-top: 13px;
        cursor: pointer;
    }

    .pesquisar{
        display: block;
    }
    .pesquisar input{
        width: 70vw;
        position: absolute;
        left: 50%;
        transform: translate(-31%, -8%);
    }

    button#filtrar{
        position: absolute;
        left: 20%;
        transform: translate(-32%, -8%);
    }
    
    footer{
        margin: 0;
        padding: 30px 0px;
    }

    footer a:hover{
        text-decoration: underline;
    }
}

@media screen and (min-width: 1920px){
    .container_first{
        margin-left: 1500px;
        max-width:1500px;
        margin: 0 auto;
    }

    .container_bloco{
        max-width:1650px;
        margin-left: 280px;
    }

    .vertigo-titles{
        margin-left: 135px;
    }

    button#filtrar{
        position: absolute;
        left: 20%;
        transform: translate(-12%,-8%);
    }

    footer{
        padding: 60px 0px;
        margin: 0;
    }
}